
# Ignore temporary Emacs files
*~

#Ignore Eclipse directories
.settings
.project
.classpath
.pydevproject

# Exclude build directory
target/*
.
/target

*.pyc
/bin/

*.DS_Store

matlab/GENERATED/
matlab/dicomrt/
matlab/tim_v2/

